In [3]:
# 시퀀스
strdata = 'Time is money!!'
print(strdata[2])     # ‘m'가 출력됨
print(strdata[-3])    # ‘y’가 출력됨

listdata = [1, 2, [1, 2, 3]]
print(listdata[0])     # 1이 출력됨
print(listdata[-1])    # [1, 2, 3]이 출력됨
print(listdata[2][-1])  # 3이 출력됨

m
y
1
[1, 2, 3]
3

In [4]:
# 시퀀스 스라이싱
strdata = 'Time is money!!'
print(strdata[1:5])   # ‘ime’가 출력됨
print(strdata[:7])    # ‘Time is’가 출력됨
print(strdata[9:])    # ‘oney!!’가 출력됨
print(strdata[:-3])   # ‘Time is mone’이 출력됨
print(strdata[-3:])   # ‘y!!’이 출력됨
print(strdata[:])    # ‘Time is money!!’가 출력됨
print(strdata[::2])  # ‘Tm smny!’가 출력됨

ime
Time is
oney!!
Time is mone
y!!
Time is money!!
Tm smny!

In [5]:
# 시퀀스 연결(+)
str1 = "I love "
str2 = "you"
print(str1+str2)

I love you

In [6]:
# 문자열
print("안녕하세요 '김길동' 입니다.")
print('안녕하세요 "박길동" 입니다.')

print("안녕하세요 \"홍길동\" 입니다.")
print('안녕하세요 \'홍길동\' 입니다.')

안녕하세요 '김길동' 입니다.
안녕하세요 "박길동" 입니다.
안녕하세요 "홍길동" 입니다.
안녕하세요 '홍길동' 입니다.

In [8]:
print('안녕하세요\n''반갑습니다.\n''다시봅시다.')

안녕하세요
반갑습니다.
다시봅시다.

In [10]:
print('''
안녕하세요
 반갑습니다.
  다시봅시다.
   ''')

안녕하세요
 반갑습니다.
  다시봅시다.

In [16]:
# 문자열 methods
our_string='python is the best language ever'
print(our_string.capitalize())
print(our_string.center(50))
print(our_string.center(50,'-'))
print(our_string.count('a'))

Python is the best language ever
         python is the best language ever
---------python is the best language ever---------
2

In [17]:
# 문자열을 분할(partition)하면, 분리자의 앞 부분, 분리자, 
# 그리고, 그 분리자의뒷 부분의 세 원소로 이루어진 튜플을 반환
x = "Hello, my name is Josh"
print(x.partition('n'))

('Hello, my ', 'n', 'ame is Josh')

In [21]:
y = "apple,orange,pineapple,watermelon,plum"
print(y.split(','))
print(y.split(',',1))
print(y.split(',',2))

['apple', 'orange', 'pineapple', 'watermelon', 'plum']
['apple', 'orange,pineapple,watermelon,plum']
['apple', 'orange', 'pineapple,watermelon,plum']

In [22]:
# 문자열 formatting
txt1 = 'java'
txt2 = 'python'
num1 = 5
num2 = 10
print('나는 %s보다 %s에 더 익숙합니다.' %(txt1, txt2))
print('%s은 %s보다 %d배 더 쉽습니다.' %(txt2, txt1, num1))
print('%d + %d = %d' %(num1, num2, num1+num2))
print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.' %num1)

나는 java보다 python에 더 익숙합니다.
python은 java보다 5배 더 쉽습니다.
5 + 10 = 15
작년 세계 경제 성장률은 전년에 비해 5% 포인트 증가했다.

In [27]:
no3 = 12.35
print('%3.2f%%' % no3)
print('%5.2f%%' % no3)
print('%5.1f%%' % no3)

12.35%
12.35%
 12.3%

In [32]:
from time import sleep
 
for i in range(100):
   msg = '\r진행률 %2d%%' %(100-i-1)
   print(msg, end='')
   sleep(0.1) # 0.1초동안 중지됨

진행률  0%

In [33]:
print('나는 파이썬을 사랑합니다.\n파이썬은 자바보다 훨씬 쉽습니다.')
print('Name: John Smith\tgender: Male\tAge: 22')
print('이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. \
그래서 \\Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.')
print('작은따옴표(\')와 큰 따옴표(")는 문자열을 정의할 때 사용합니다.')

나는 파이썬을 사랑합니다.
파이썬은 자바보다 훨씬 쉽습니다.
Name: John Smith	gender: Male	Age: 22
이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. 그래서 \Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.
작은따옴표(')와 큰 따옴표(")는 문자열을 정의할 때 사용합니다.

In [2]:
print('이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. 그래서 \\Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.')
print('이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. \
그래서 \\Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.')

이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. 그래서 \Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.
이 문장은 화면폭에 비해 너무 길어 보기가 힘듭니다. 그래서 \Enter키를 이용해 문장을 다음줄과 연속되도록 했습니다.

In [34]:
# 문자열 methods
msg = input('임의의 문장을 입력하세요: ')
msglen = len(msg)
print('당신이 입력한 문장의 길이는 <%d> 입니다.' %msglen)

임의의 문장을 입력하세요: 꽃이피는 날 굿바이
당신이 입력한 문장의 길이는 <10> 입니다.

In [35]:
txt = 'A lot of things occur each day, every day.'
word_count1 = txt.count('o')
word_count2 = txt.count('day')
word_count3 = txt.count(' ')
print(word_count1)  # 3이 출력됨
print(word_count2)  # 2가 출력됨
print(word_count3)  # 8이 출력됨

3
2
8

In [36]:
# 빈공간이 있으면 isalpha()의 결과를 False값을 리턴하다.
txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3PO'
ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()
print(ret1)        # True가 출력됨
print(ret2)        # True가 출력됨
print(ret3)        # False가 출력됨
print(ret4)        # False가 출력됨

True
True
False
False

In [37]:
#숫자가 아님 False
txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'
ret1 = txt1.isdigit()
ret2 = txt2.isdigit()
ret3 = txt3.isdigit()
print(ret1)      # False가 출력됨
print(ret2)      # False가 출력됨
print(ret3)      # True가 출력됨

False
False
True

In [38]:
txt1 = '안녕하세요?'
txt2 = '1. Title-제목을 넣으세요'
txt3 = '3피오R2D2'
ret1 = txt1.isalnum()
ret2 = txt2.isalnum ()
ret3 = txt3.isalnum ()
print(ret1)      # False가 출력됨
print(ret2)      # False가 출력됨
print(ret3)      # True가 출력됨

False
False
True

In [39]:
txt = 'A lot of Things occur each day.'
ret1 = txt.upper()
ret2 = txt.lower()
print(ret1)       # ‘A LOT OF THINGS OCCUR EACH DAY.’가 출력됨
print(ret2)       # ‘a lot of things occur each day.’가 출력됨

A LOT OF THINGS OCCUR EACH DAY.
a lot of things occur each day.

In [40]:
txt = '   양쪽에 공백이 있는 문자열입니다.   '
ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()
print('<'+txt+'>')
print('<'+ret1+'>')
print('<'+ret2+'>')
print('<'+ret3+'>')

<   양쪽에 공백이 있는 문자열입니다.   >
<양쪽에 공백이 있는 문자열입니다.   >
<   양쪽에 공백이 있는 문자열입니다.>
<양쪽에 공백이 있는 문자열입니다.>

In [41]:
# list = str.split() : 문자열에서 리스트로, 공백으로 구분 
# ” “.join( list ) : 리스트에서 문자열으로

a='Beautiful, is; better*than\nugly'
import re
re.split('; |, |\*|\n',a)

url = 'http://www.naver.com/news/today=20160831'
log = 'name:홍길동 age:17 gender:남자 nation:한국'
 
ret1 = url.split('/')
print(ret1)
 
ret2 = log.split()
for data in ret2:
   d1, d2 = data.split(':')
   print('%s -> %s' %(d1, d2))
 

loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
bond = ';'
log = bond.join(loglist)
print(log)

['http:', '', 'www.naver.com', 'news', 'today=20160831']
name -> 홍길동
age -> 17
gender -> 남자
nation -> 한국
2016/08/26 10:12:11;200;OK;이 또한 지나가리라

In [42]:
# 형변환
num1 = 1234
num2 = 3.14
 
numstr1 = str(num1)
numstr2 = str(num2)
print('num1을 문자열로 변환한 값은 “%s” 입니다.' %numstr1)
print('num2를 문자열로 변환한 값은 “%s” 입니다.' %numstr2)

num1을 문자열로 변환한 값은 “1234” 입니다.
num2를 문자열로 변환한 값은 “3.14” 입니다.

In [45]:
#빈공간, 문자를 입력하면 예외에 걸려서 메세지 출력
#정수나 실수를 입력하면 정수 또는 실수 출력
numstr = input('숫자를 입력하세요: ')
try:
   num = int(numstr)
   print('당신이 입력한 숫자는 정수 <%d>입니다.' %num)
except:
   try:
      num = float(numstr)
      print('당신이 입력한 숫자는 실수 <%f>입니다.' %num) 
   except:
      print('+++ 숫자를 입력하세요~ +++')

숫자를 입력하세요: R45
+++ 숫자를 입력하세요~ +++

In [48]:
print(chr(4))
print(ord('A'))
print(ord('z'))
print(float(8))


65
122
8.0

In [50]:
print(chr(10))