## Pandas 자료형

## 자료형 변환하기

데이터 분석을 수월하게 하기 위해 데이터 자료형을 자주 변환된다.
카테고리형이나 숫자형은 문자열로 변환해서 사용하는 경우가 많다.
rename 메서드를 사용하면 컬럼명을 변경할 수 있다.
astype 메서드를 사용하면 자료형을 변환할 수 있다.

### seaborn활용하기

seaborn이란?
=library for making statistical graphics in Python
(Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.) 분석에 활용할 수 있는 sample dataset도 갖고있다. 

tips라는 이름의 dataset을 불러와서 실습에서 사용해보자.

In [18]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset("tips")

tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [19]:
# column명 변경하기

tips = tips.rename({'sex':'gender'},axis='columns')
tips

     total_bill   tip  gender smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [20]:
print("변경 전:\n",tips.dtypes)

변경 전:
 total_bill     float64
tip            float64
gender        category
smoker        category
day           category
time          category
size             int64
dtype: object

In [21]:
tips['gender_str'] = tips['gender'].astype(str)
print("변경된 열의 추가 후:\n",tips.dtypes)

변경된 열의 추가 후:
 total_bill     float64
tip            float64
gender        category
smoker        category
day           category
time          category
size             int64
gender_str      object
dtype: object

In [24]:
tips['total_bill'] = tips['total_bill'].astype(int) 
print(tips.dtypes)

total_bill       int32
tip            float64
gender        category
smoker        category
day           category
time          category
size             int64
gender_str      object
dtype: object

In [25]:
#변환된 자료형을 원래대로 다시 바꿀 수 있다.

tips['total_bill'] = tips['total_bill'].astype(float) 
print(tips.dtypes)

total_bill     float64
tip            float64
gender        category
smoker        category
day           category
time          category
size             int64
gender_str      object
dtype: object

### 잘못입력한 데이터 처리하기 

정수가 있어야 하는 열에 문자열이 입력되어 있을때 정수형으로 변환하는 to_numeric 메서드 사용한다.

tips dataset을 그대로 가져다가 사용하면, SettingWithCopyWarning이 발생한다.
이럴때는 원본 dataset의 copy를 만들어서 진행한다.

SettingWithCopyWarning 발생관련 참고 links:

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

https://emilkwak.github.io/pandas-dataframe-settingwithcopywarning

파생 dataframe에 추가하는것을 권장하지 않는다. 메모리 부족 이슈등 문제가 발생 할 수도 있다.
.copy() 메서드를 사용해서 복사본을 만들어서 원하는 데이터 처리작업을 하면 warning을 피할 수 있다.

In [32]:
tips_sub_miss = tips.head(10).copy()

#total_bill열의 1,3,5,7 행의 데이터를 'missing'으로 변경하여 tips_sub_miss에 저장한다.
tips_sub_miss.loc[[1, 3, 5, 7], 'total_bill'] = 'missing'
 
print(tips_sub_miss)

  total_bill   tip  gender smoker  day    time  size gender_str
0       16.0  1.01  Female     No  Sun  Dinner     2     Female
1    missing  1.66    Male     No  Sun  Dinner     3       Male
2       21.0  3.50    Male     No  Sun  Dinner     3       Male
3    missing  3.31    Male     No  Sun  Dinner     2       Male
4       24.0  3.61  Female     No  Sun  Dinner     4     Female
5    missing  4.71    Male     No  Sun  Dinner     4       Male
6        8.0  2.00    Male     No  Sun  Dinner     2       Male
7    missing  3.12    Male     No  Sun  Dinner     4       Male
8       15.0  1.96    Male     No  Sun  Dinner     2       Male
9       14.0  3.23    Male     No  Sun  Dinner     2       Male

In [33]:
tips_sub_miss.dtypes #total_bill에 missing 문자열이 포함되어서 float --> object로 변화됨.

total_bill      object
tip            float64
gender        category
smoker        category
day           category
time          category
size             int64
gender_str      object
dtype: object

In [ ]:
# asType 메서드로는 'missing' 문자열을 실수로 변환할 수 없어 오류가 난다.
tips_sub_miss['total_bill'].astype(float)

※ errors 인자에 설정할 수 있는 값

raise :숫자로 변환할 수 없는 값이 있으면 오류발생(기본값)

coerce :숫자로 변환할 수 없는 값을 누락값(NaN)으로 지정

ignore :아무작업도 하지 않음

In [34]:
#errors 인자를 이용하는 to_numeric메서드를 사용하면 된다.
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='ignore')
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
gender        category
smoker        category
day           category
time          category
size             int64
gender_str      object
dtype: object

In [35]:
#errors 인자를 이용하는 to_numeric메서드를 사용하면 된다.
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='coerce')
print(tips_sub_miss.dtypes)

total_bill     float64
tip            float64
gender        category
smoker        category
day           category
time          category
size             int64
gender_str      object
dtype: object

In [36]:
tips_sub_miss #total_bill column을 보면, row 1,3,5,7에 missing 문자열 대신에 누락값(NaN)이 포함되어있다.

   total_bill   tip  gender smoker  day    time  size gender_str
0        16.0  1.01  Female     No  Sun  Dinner     2     Female
1         NaN  1.66    Male     No  Sun  Dinner     3       Male
2        21.0  3.50    Male     No  Sun  Dinner     3       Male
3         NaN  3.31    Male     No  Sun  Dinner     2       Male
4        24.0  3.61  Female     No  Sun  Dinner     4     Female
5         NaN  4.71    Male     No  Sun  Dinner     4       Male
6         8.0  2.00    Male     No  Sun  Dinner     2       Male
7         NaN  3.12    Male     No  Sun  Dinner     4       Male
8        15.0  1.96    Male     No  Sun  Dinner     2       Male
9        14.0  3.23    Male     No  Sun  Dinner     2       Male

### 다운캐스팅으로 변환

to_numeric 메서드에 downcast인자는 정수, 실수 자료형을 더 작은 형태로 만들때 사용한다. (다운캐스팅)

downcast의 설정값은 integer, signed, unsigned, float등의 값을 사용할 수 있다.

-integer, signed 가장 작은 정수값을 나타낸다(부호있는)
-unsigned 가장 작은 부호 없는 정수값을 나타낸다.
-float은 가장 작은 실수를 나타낸다.
 float64는 float32보다 더 많은 범위의 실수를 표현할 수 있다. 메모리 공간도 2배이다.
 저장하는 실수의 예상 범위가 크지 않으면 다운캐스팅해서 float32를 사용하는 것이 좋다.

In [37]:
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='coerce', downcast='float')
print(tips_sub_miss.dtypes)

total_bill     float32
tip            float64
gender        category
smoker        category
day           category
time          category
size             int64
gender_str      object
dtype: object

In [38]:
tips_sub_miss['tip'] = pd.to_numeric(tips_sub_miss['tip'], errors='coerce', downcast='float')
print(tips_sub_miss.dtypes) #float64 --> float32로 변경된것을 확인

total_bill     float32
tip            float32
gender        category
smoker        category
day           category
time          category
size             int64
gender_str      object
dtype: object

## 카테고리 자료형
#### 유한한 범위의 값만 가짐. 용량, 속도 더 효율적임

카테고리 자료형은 (내가 지정하는)유한한 범위의 값만을 가지는 특수한 자료형이다.
e.g., 10종류의 과일 이름을 저장한 열을 문자열 자료형를 사용하는 것보다 카테고리 자료형을 사용하는 것이 용량과 속도 면에서 더 효율적이다.

카테고리 자료형의 장점과 특징 
  . 용량과 속도 면에서 매우 효율적이다.
  . 주로 동일한 문자열이 반복되어 데이터를 구성하는 경우에 사용한다.
  
gender 열의 데이터는 여자 또는 남자만으로 구성되어 있다. 그래서 카테고리 자료형으로 저장되어 있다.
gender가 문자열 자료형이라면 메모리 크기가 커질것이다.

In [39]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   gender      244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   gender_str  244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB

In [40]:
tips['gender'] = tips['gender'].astype('str')
print(tips.info()) 
#gener의 dtype이 category --> str로 변환되면, tips 데이터프레임의 메모리 usage가 9.3KB --> 10.8KB로 용량이 커진것을 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   gender      244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   gender_str  244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.8+ KB
None